.banner {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(150vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.photo_wrapper{
  height: 50vw;
  opacity: 0.9;
  position: relative;
}

.artist_box{
  background-color: rgba(150, 150, 150, 0.5);
  position: absolute;
  left: 20px;
  top: 20px;
  height: 70%;
  width: 45%;
  color: white;
  font-weight: bold;
  border-color: white;
  padding: 20px;
  position:relative;
}

.artist_title{
  text-align: center;
}

.artist_desc{
  padding-top:30px;
  color: rgb(50, 50, 50);
  text-align: justify;
  font-weight: 400;
}

.button_box{
  position: absolute;
  bottom:30px;
  left: 10%;
  display: flex;
  justify-content: space-between;
}

.tv_box{
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgba(150, 150, 150, 0.5);
  height: 70%;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.stats_box{
  background-color: rgba(150, 150, 150, 0.5);
  position: absolute;
  left:10px;
  right: 10px;
  bottom: 10px;
}

.input{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.input_box{
  min-width: 250px;
  background-color: rgba(150, 150, 150, 0.5);
  // color: white;
  font-weight: bold;

  min-height: 40px;
  display: flex;
  align-content: center;
}
.input_box p{
  margin: auto;
}

.output{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.output_box{
  min-width: 250px;
  background-color: rgba(75, 75, 75, 0.5);
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align:middle;
  min-height: 40px;
  display: flex;
  align-content: center;
}

.output_box p{
  margin: auto;
}