.banner {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(150vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.photo_wrapper{
  width: 100vw;
  height: 35vw;
  opacity: 0.9;
padding: 5px;
}

.artist_box{
  background-color: rgba(150, 150, 150, 0.5);
  height: 33vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artist_box h1{
  text-align: center;
  color: rbg(200, 200, 200);
  font-weight: bold;
}

.artist_box p{
  padding-top:30px;
  padding-left: 20px;
  color: rgb(50, 50, 50);
  text-align: justify;
  font-weight: 400;
}

.artist_avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-large {
  width: 256px;
  border-radius: 50%;
}

.button_box{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.artist_box_2{
  background-color: rgba(150, 150, 150, 0.5);
  height: 33vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tv_box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.artist_box_2 h1{ 
  text-align: center;
  color: rbg(200, 200, 200);
  font-weight: bold;
}

.stats_box{
  background-color: rgba(150, 150, 150, 0.5);
  height: 7vw;
  border: white;
  text-align: center;
  margin: auto;
}

.stats_box h3{
  font-size: 20px;
  font-weight: 800;
}

.stats_box p{
  color: #0FB8A9;
  font-weight: 800;
}

.row1{
  padding: 5px;
}