.banner {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.photo_wrapper{
  height: 10vw;
  opacity: 0.9;
  position: relative;
}

.artist_box{
  background-color: rgba (200, 200, 200, 0,2);
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  color: white;
}

.tv_box{
  background-color: rgba (200, 200, 200, 0,2);
  position: absolute;
  right: 10px;
  top: 10px;
}

.stats_box{
  background-color: rgba (200, 200, 200, 0,2);
  position: absolute;
  left:10px;
  right: 10px;
  bottom: 10px;
}