<div class="container">
  <div class="titles">
    <div>
      <h1>Your Review</h1>
    </div>
    <div>
      <h2><%= pluralize @reviews.size, "review" %></h2>
    </div>
  </div>

  <div class="comments-layout">
    <% @reviews.each do |review| %>
      <div class="comment">
        <p class="stars-margin-bottom">
          <% review.rating.times do %>
            <i class='fas fa-star'></i>
          <% end %>
        </p>
        <div class="contain">
          <div class="review content">
            <p><%= review.comment %></p>
          </div>
          <div class="trash">
            <%= link_to artist_reviews_path, method: :delete, 
            data: { confirm: "Sure?" } do %>
              <i class="fas fa-times"></i>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>


