<div class="container">
  <div class="title">
    <%= link_to artist_path(@artist.id) do %>
      <i class="fas fa-chevron-left" id="back"></i>
    <% end %>
    <h1>Your Review</h1>
  </div>
  <h2><%= pluralize @reviews.size, "review" %></h2>

  <div class="comments-layout">
    <% @reviews.each do |review| %>
      <div class="comment">
        <p class="stars-margin-bottom">
          <% review.rating.times do %>
            <i class='fas fa-star stars'></i>
          <% end %>
        </p>
        <div class="contain">
          <div class="review content">
            <p><%= review.comment %></p>
          </div>
          <div>
            <%= link_to artist_review_path(@artist.id ,review.id), method: :delete, 
            data: { confirm: "Sure?" } do %>
              <i class="fas fa-times position-delete"></i>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>


